<div class="footer-container">
            <footer class="wrapper">
                <ul class="social">
					<li><a class="google" href="#" title="css3 designer on google">css3 gallery on google</a></li>
					<li><a class="facebook" href="#" title="css3 designer on facebook">css3 gallery on facebook</a></li>
					<li><a class="twitter" href="#" title="css3 designer on twitter">css3 gallery on twitter</a></li>
					<li><a class="pinterest" href="#" title="css3 designer on Pinterest">css3 gallery on pinterest</a></li>
					<li><a class="rss-feed" href="#" title="css3 designer RSS">css3 gallery rss-feed</a></li>
				</ul>
				<div class="copyright">
					Copyright &copy; Css3Designer.com
					<a href="http://mexoinc.com" title="mexoinc">mexo web development and designing</a>
				</div>
			
            </footer>
        </div>