<div class="header-container">
            <header class="header wrapper">
				<h1 class="title">
					<a href="./" class="logo" title="css3 designer">CSS3 web Gallery</a>
				</h1> 
				
                <nav>					
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
						<li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
						<li class="btn"><a href="#">Submit your site</a></li>
                    </ul>
                </nav>
				
				<form action "restaurants/" method="get" id="search-box" class="search-box clearfix" data-box-open="false">
					<input type="text" name="q" id="search-input" value=""/>
				</form>
				
				
				
            </header>
        </div>